.project#project
  .project__wrapper
    p.project__title PROJECT

    .project__articles 
      a.project__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}project/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。

      a.project__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}project/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。

      a.project__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}project/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。

      a.project__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}project/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。

      a.project__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}project/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。