-
  const meta_common = {
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const top = {
    id: 'top',
    type: 'top',
    title: 'TOP',
    description: 'TOPページです',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const about = {
    id: 'about',
    type: 'page',
    title: 'ABOUT',
    description: 'ABOUTページ',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const faq = {
    id: 'faq',
    type: 'page',
    title: 'FAQ',
    description: 'FAQページ',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const blog = {
    id: 'blog',
    type: 'list',
    title: 'NOTE',
    description: 'NOTEページ',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const project = {
    id: 'project',
    type: 'list',
    title: 'PROJECT',
    description: 'PROJECTページ',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }

  const article = {
    id: 'article',
    type: 'post',
    title: 'ARTICLE',
    description: 'ARTICLEページ',
    ogType: 'website',
    ogPath: `${CANONICAL_ROOT}/asset/image/og.png`
  }