//- ーーーーーーーーーーーーーーーーーーー
//- 共通パーツ
//- ーーーーーーーーーーーーーーーーーーー

//- パンくず
mixin c-breadcrumbs(crumb, faq)
  .c-breadcrumbs
    -if(faq)
      .c-breadcrumbs__item
        a.c-breadcrumbs__page.f-inter-B(href="../about-contact/index.html") ABOUT & CONTACT
      .c-breadcrumbs__item
        h1.c-breadcrumbs__page.f-inter-B FAQ
    -else
      .c-breadcrumbs__item
        h1.c-breadcrumbs__page.f-inter-B #{crumb}

//- FIELD LABOのロゴ 
mixin c-logo(bk)
  -if(bk === true) 
    .c-logo(class=`black`)
  -else
    .c-logo(class=`white`)

//- SNS 
mixin c-sns(className, footer)
  ul.c-sns(class=className ? className : '' class=footer ? 'type-footer' : '')
    li: a(href="#"): img(src=`${IMG_DIR}common/icon-instagram.svg` alt="instagram")
    li: a(href="#"): img(src=`${IMG_DIR}common/icon-facebook.svg` alt="facebook")
    li: a(href="#"): img(src=`${IMG_DIR}common/icon-pinterest.svg` alt="pinterest")
    li: a(href="#"): img(src=`${IMG_DIR}common/icon-home.svg` alt="home")

//- 上に戻るボタン
mixin c-toTop 
  .c-toTop
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.595 33.595">
      <rect class="cls-2" width="33.595" height="33.595"/>
      <polygon class="cls-1" points="21.774 18.725 16.797 13.749 11.821 18.724 10.835 17.738 16.797 11.775 22.76 17.737 21.774 18.725"/>
      <rect class="cls-1" x="16.099" y="12.762" width="1.396" height="10.938"/>
      <rect class="cls-1" x="10.987" y="9.196" width="11.62" height="1.396"/>
    </svg>

//- 切り替えのボタン
mixin c-ctrl-btn(className)
  .c-ctrl__prev.swiper-button-prev(class=className ? `${className}--prev` : ''): img(src=`${IMG_DIR}common/icon-prev.svg` alt="prev")
  .c-ctrl__next.swiper-button-next(class=className ? `${className}--next` : ''): img(src=`${IMG_DIR}common/icon-next.svg` alt="next")

//- モーダル開くアイコン
mixin l-modalOpenIcon(dark)
  -if(dark === true) 
    .l-modalOpenIcon(class=`l-modalOpenIcon--dark`)
  -else
    .l-modalOpenIcon

//- サムネイル
mixin c-thumbnail(className, type, i, idx)
  .c-thumbnail(class=className ? className : '')
    //- フォトギャラリー
    -if(type=='top')
      .c-thumbnail__main_img: img(src=`${DUMMY_DIR}top/gallery${idx+1}.jpg`)
      .c-thumbnail__text-wrapper
        -if(i.ttlJp === true)
          .c-thumbnail__title.f-noto-B: p!=i.title
        -else
          .c-thumbnail__title.f-inter-B: p!=i.title
        .c-thumbnail__open: +l-modalOpenIcon(false)
    //- 一覧ページ　
    -else if(type==='projects' || type==='blog')
      .c-thumbnail__main_img: img(src=`${DUMMY_DIR}${type}/list${idx+1}.jpg`)
      .c-thumbnail__text-wrapper
        -if(i.ttlJp === true)
          .c-thumbnail__title.f-noto-B: p!=i.title
        -else
          .c-thumbnail__title.f-inter-B: p!=i.title
        .c-thumbnail__summary.f-noto-M: p!=i.summary
    //- 記事埋め込みパーツ
    -else if(type=='page')
      .c-thumbnail__main_img: img(src=`${IMG_DIR}note/main_img_${i+1}.jpg`)
      .c-thumbnail__text-wrapper
        -if(i.ttlJp === true)
          .c-thumbnail__title.f-noto-B: p!=i.title
        -else
          .c-thumbnail__title.f-inter-B: p!=i.title
        .c-thumbnail__summary.f-noto-M: p!=i.summary
        .c-thumbnail__viewmore
          .c-thumbnail__viewmore-icon: img(src=`${IMG_DIR}common/icon-link.svg` alt="viewmore")
          p.c-thumbnail__viewmore-text.f-inter-B view more

//- LOAD MORE 
mixin c-loadMore(className) 
  btn.c-loadMore(class=className ? `${className}` : '')
    p.f-inter-B load more

//- ーーーーーーーーーーーーーーーーーーー
//- TOPとFAQ共通モーダル
//- ーーーーーーーーーーーーーーーーーーー

//- モーダルの大枠
mixin l-modal(type, className)
  .l-modal#l-modal
    .l-modal__bg.btn-close
    .l-modal__container
      .l-modal__wrapper
        .l-modal__contents.is-over
          .l-modal__inner-scrlWrap
            .l-modal__inner
              -if(type === 'top')
                +topModalContent
              -else if(type === 'faq')
                +faqModalContent

              button.l-modal__bottom.btn-close
                .l-modal__bottom-icon
                p.l-modal__bottom-text.f-inter-B close

          button.l-modal__btn.btn-close
            .l-modal__btn-inner
              .l-modal__btn-icon

//- 中身ーTOP
mixin topModalContent
  .topContents__modal
    //- .img-box.is-single ←画像一枚の場合
    .img-box.is-multiple
      //- w100写真パーツ
      .full_img.img
        img(src=`${DUMMY_DIR}top/modal-full.jpg`)

      //- w狭め写真パーツ
      .narrow_img.img
        img(src=`${DUMMY_DIR}top/modal-narrow.jpg`)

    //- テキスト
    p.text.f-noto-M!=modal.text

    .flex_box
      .related_articles.flex_box-item
        p.related_articles-head.flex_box-head.f-inter-B related article
        ul.related_articles-wrapper
          -for(let i = 0; i < modal.article.length; i++)
            li.related_article
              a.related_article-inner(href="#")
                .related_article-icon: img(src=`${IMG_DIR}common/icon-arrow-box.svg`)
                -if(modal.article[i].ttlJp === true)
                  .related_article-text.f-noto-B: p!=modal.article[i].title
                -else
                  .related_article-text.f-inter-B: p!=modal.article[i].title
                p.related_article-genre.f-inter-M (#{`${modal.article[i].genre}`})

      .tag.f-inter-B.flex_box-item
        p.tag-head.flex_box-head tag
        ul.tag-wrapper
          -for(let i = 0; i < modal.tag.length; i++)
            li.tag-item.f-inter-B
              a(href="#")!=modal.tag[i]

//- 中身ーFAQ
mixin faqModalContent
  .faq__modal
    
